.registerContainer {
  background-color: #f2efec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContent {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
  padding: 40px;
}

.logoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.logo {
  width: 250px;
  margin-bottom: 10px;
}

.registerTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: -50px;
}

.subTitle {
  font-size: 14px;
  color: #666;
  margin-top: -2px;
}

.formSection {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
}

.registerForm {
  width: 100%;
}

.passwordTooltip {
  margin-top: 10px;
}

.passwordCriteria {
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitButton {
  background-color: #1C4839;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #14432D;
}
