.ConteudoContainer {
  background-color: #1C4839;
  color: white;
  min-height: 100vh;
  padding: 30px;
  margin-top: 30px;
}

.paper {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 30px !important;
}

.buttonContaineCriar {
  display: flex;
  justify-content: end;
  width: 100%;
}

.buttonContainerVoltar {
  display: flex;
  justify-content: end;
  width: 100%;
}

.CriarTaxonomiaButton {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CriarTaxonomiaButton {
  background-color: #3A745F;;
  color: #fff;
  border: none;
}

.CriarTaxonomiaButton:hover {
  background-color: #3A745F;;
}