/* Estilos Globais */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f1eb; /* Fundo suave */
}

.formContainer {
  background-color: white;
  padding: 40px;
  border-radius: 15px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  max-width: 700px;
  width: 100%;
}

.logoTitleSection {
  display: flex;
  align-items: center; /* Centraliza verticalmente o logo e o texto */
  margin-bottom: 30px;
}

.logo {
  width: 80px;
  margin-right: 20px; /* Espaço entre logo e o texto */
}

.title {
  font-size: 28px;
  color: #2e574f;
  margin: 0; /* Remove margens para centralização adequada */
}

.subTitle {
  font-size: 16px;
  color: #666;
  margin: 5px 0 0 0; /* Margem abaixo do título */
}

/* Formulário */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

/* Botão de Avançar */
.submitButton {
  background-color: #2e574f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px; /* Botão arredondado */
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end; /* Alinha o botão à direita */
}

.submitButton:hover {
  background-color: #234c43;
}
