.conteudoContainer {
    margin-top: 30px;
    padding: 50px;
    background-color: #f2f2f2;
}

.postContainer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.postTitle {
    font-weight: bold;
    margin-bottom: 10px;
    color: #3A745F;
}

.divider {
    margin: 10px 0;
}

.postResposta {
    margin: 20px 0;
    line-height: 1.6;
}

.postCategoria {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

.respostasContainer {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.respostaItem {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-left: 5px solid #3A745F;
    border-radius: 5px;
}

.respostaContainer {
    margin-top: 20px;
}

.buttonRight {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

.buttonContainer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.Button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A745F;
    color: #fff;
    border: none;
}

.Button:hover {
    background-color: #2E624E;
}