.ConteudoContainer {
    background-color: #1C4839;
    color: white;
    min-height: 100vh;
    padding: 30px;
    margin-top: 30px;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.PostButton {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PostButton {
    background-color: #FF9113;
    color: #fff;
    border: none;
}

.PostButton:hover {
    background-color: #E68010;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.VoltarButton {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9113;
    color: #fff;
    border: none;
}

.VoltarButton:hover {
    background-color: #E68010;
}