/* Container principal */
.UserProfileContainer {
  background-color: #f2efec;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}

.paper {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  margin-top: 20px;
  background-color: #f2efec;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #2e574f;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.BackButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.SaveButton {
  background-color: #2e574f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.BackButton:hover, .SaveButton:hover {
  opacity: 0.9;
}

/* Classe para centralizar o botão Voltar abaixo do contêiner */
.centeredBackButton {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Distância do contêiner */
}
